<% layout('layouts/lboilerplate')%>

<h2>Welcome back <%= lst1[0].name %></h2>
<h3><%= lst4[0].message %></h3>
<h3>The following message was elevated by :<%= lst4[0].m_name %></h3>
<h3>The following message belongs to student named :<%= lst4[0].s_name %></h3>