<% layout('layouts/lboilerplate')%>
<style>
    #box{
        border: 10px solid #66b3ff;
    }
    body{
        font-family: 'Times New Roman', Times, serif;
    }
</style>
<% for (let campground of lst){%>
    <div id="box">
    <h2>
        <form action="/delete_message/<%= campground._id %>/<%= campground.s_name %>" method="get">
        <%= campground.response %>
        <h2>Message sent by :  <%= campground.m_name %></h2>
        <button class="btn btn-info" style="position: relative;left: 20px;">Delete message</button>
    </div>
        <br>
    </h2>
</form>
    <% }%>